
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Role</h2>
<form action="~/Home/CreateRole" method="post">
    Role
    <input type="text" name="role" value="" />
    <br />
    <input type="submit"  name="name" value="" />
</form>

